.footer {
    background-color: $darkGray;
    padding: $spacing / 2 0;

    .footer-container {
        padding-top: $spacing / 2;
    }

    .copyright {
        color: $white;
        text-align: center;
    }
}